.certificates {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    .title {
        @include sub-header;
        margin-top: 20px;
    }
    .certificate {
        @include body-text;
        padding-right: 0 !important;
        text-align: start !important;

    }
}
